@import  'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i';
@import  'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i';
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End reset */
/*MAIN STYLES*/
header {
	margin: 0 auto;
	width: 100%;
	height: 100px;
	text-transform: lowercase;
	background-color: rgba(255,255,255,0.95);
	position: fixed;
	top: 0;
	z-index: 1;
}

/*#about h2 {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	text-align: center;
}*/
nav {
	float: right;
	display: inline-block;
	color: #56BCBA;
}

a {
	text-decoration: inherit;
	font-family: 'Lato',sans-serif;
	font-weight: 400;
	padding-right: 50px;
	line-height: 100px;
	color: inherit;
	font-size: 1.25em;
	display: inline-block;
	transition: color .25s ease;
}

a:hover {
	color: #479493;
}

header img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 30px;
	height: 50px;
	width: 200px;
	display: inline-block;
	font-weight: 400;
}

@media only screen and (max-width: 1150px) {
	article h1 {
		margin-top: 0;
	}

	body article {
		display: block;
		height: auto;
		margin-bottom: 50px;
	}

	article h3 {
		padding-bottom: 25px;
	}

	body #lives img {
		float: none;
		margin: 0 auto;
		top: 0;
		transform: none;
	}

	body #lives div {
		display: block;
		float: none;
		max-width: 100%;
	}

	body #money img {
		float: none;
		margin: 0 auto;
		top: 0;
		transform: none;
	}

	body #money div {
		display: block;
		float: none;
		max-width: 100%;
	}

	body #well img {
		float: none;
		margin: 0 auto;
		top: 0;
		transform: none;
	}

	body #well div {
		display: block;
		float: none;
		max-width: 100%;
	}
}

article h1 {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 3em;
	font-style: italic;
}

#lives h1 {
}

#money h1 {
}

#well h1 {
}

article {
}

#lives img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	float: right;
	position: relative;
}

#lives div {
	display: inline-block;
	position: relative;
}

#money img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	float: left;
	position: relative;
}

#money div {
	float: right;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#well img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	float: right;
	position: relative;
}

#well div {
	float: left;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

article h3 {
	display: block;
	text-align: justify;
	font-weight: 300;
	font-size: 1.25em;
	width: 600px;
	margin: 0 auto;
	text-align-last: center;
	padding-top: 30px;
	line-height: 40px;
}

main {
	background: url(italy.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#overlay {
}

#overlay h1 {
	font-size: 2.5em;
	text-align: center;
	display: block;
	font-weight: 400;
	max-width: 90%;
	margin: 0 auto;
}

#overlay h2 {
	font-size: 1.3em;
	line-height: 35px;
	text-align-last: center;
	color: #E6E6E6;
	display: block;
	font-weight: 300;
	max-width: 90%;
	margin: 0 auto;
}

.italic {
	font-style: italic;
}

#overlay div {
	margin: 0 auto;
	position: relative;
	transform: translateY(-50%);
	margin: 0 auto;
	display: block;
}

#about {
	max-width: 80%;
	margin: 0 auto;
}

hr {
	border: 0;
	width: 90%;
}

#team {
	width: 100%;
	height: auto;
}

#team h1 {
	padding-top: 40px;
	text-align: center;
	font-size: 2em;
}

#team h2 {
	line-height: 30px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 40px;
	max-width: 80%;
	margin: 0 auto;
}

#teamcontainer {
	width: 80%;
	margin: 0 auto;
}

#people {
	display: flex;
}

img {
	border: none;
}

.person {
	display: inline-block;
}

@media screen and (min-width: 50em) {

	#team h1 {
		padding-top: 70px;
	}
}

figure {
}

img {
	border: none;
	margin: 0 auto;
}

figcaption {
	font-weight: 300;
	font-size: 1.25em;
	text-align: center;
	white-space: nowrap;
	margin: 0 auto;
	display: block;*/
	z-index: 100;
}

figcaption:first-line {
	font-weight: 400;
}

@media only screen and (max-width:440px) {
	figure figcaption {
		font-size: 1em;
		line-height: 25px;
	}
}

footer {
	width: 100%;
}

#contact {
	background-color: #172E4A;
	width: 100%;
	height: 100%;
}

#contact h1 {
	padding-top: 70px;
	text-align: center;
	font-size: 2em;
}

#contact h2 {
	line-height: 30px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 20px;
	max-width: 80%;
	margin: 0 auto;
}

/*FORMS*/






.button:hover {
	background-color: #B2AEBB;
	border-color: #B2AEBB;
	cursor: pointer;
}



}




}

#formcontainer {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 630px) {
	header img {
		width: 200px;
		padding-top: 25px;
		transform: translateX(-50%);
	}

	nav {
		display: block;

	a {
	}

	header {
		height: 140px;
	}

	a:last-child {

	main {
		height: 300px;
	}

	#overlay h1 {
		font-size: 5vw;
	}

	#overlay h2 {
		font-size: 3vw;
	}

	div h1 {
		font-size: 1.5em;
	}

	div h3 {
		font-size: 1em;
	}

	#contact {
		height: 500px;
	}

	article h3 {
		max-width: 90%;
		text-align: center;
	}

	article h3 {
		line-height: 30px;
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 550px) {
	main {
	}

	#overlay h2 {
		line-height: 20px;
	}

	#lives h1 {
	}
}

@media only screen and (max-width: 775px) {
	article h3 {
	}
}
